@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}


.invert {
    filter: invert(1);
}



/* main container*/
.container {
    display: flex;
    gap: 10px;
    padding: 7px;
}

/* container-left part of container */
.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* container-left-home part */
.home {
    width: 20vw;
    background-color: #121212;
    color: white;
    border-radius: 8px;
    padding: 20px 23px;
}

.home li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    font-size: small;
}

.home li svg {
    width: 23px;
}

/* container-left-library part */
.library {
    width: 20vw;
    background-color: #121212;
    color: white;
    border-radius: 8px;
    padding: 26px 23px;
    height: 67vh;
}

.library li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: small;
}

.library li svg {
    width: 23px;
}

.side-plybtn {
    position: absolute;
    right: 10px;
    margin-top: 6px;
}

.songList {
    height: 400PX;
    overflow-y: scroll;
    margin-top: 20px;
}

.songList UL {
    padding-right: 20PX;
    padding: 0 20PX 0 0;
}

.songList ul li {
    display: flex;
    gap: 14px;
    margin-top: 12px;
    font-size: 10px;
    width: 100%;
    margin: 13px 0;
    padding: 12px 8px;
    background-color: rgb(36, 34, 34);
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    display: flex;
}

.libraryfooter {
    position: absolute;
    bottom: 10px;
    font-size: 10px;
}


/* container-right part of container */
.right {
    width: 80vw;
    border-radius: 8px;
    background-color: #1e1d1d;
    position: relative;
}

/* container-right-header part of container */
.right .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 10px;
    color: white;
    background-color: #121212;
}

.right .header .nav img {
    width: 35px;
}

.right .header .buttn {
    display: flex;
    gap: 30px;
}

.right .header .buttn button {
    background-color: #121212;
    border: none;
}

.right .header .buttn> :first-child {
    color: rgb(173, 166, 166);
    font-size: 16px;
    font-weight: bold;
    font-weight: 900px;
}

.right .header .buttn> :first-child:hover {
    font-size: 1.1rem;
    color: white;
}

.right .header .buttn>:nth-child(2) {
    color: black;
    background-color: #fff;
    border-radius: 28px;
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    margin-right: 15px;
}

.right .header .buttn>:nth-child(2):hover {
    font-weight: bold;
    padding: 14px 31px;
    background-color: rgb(232, 223, 223);
}

/* container-right-spotifylists part of container */
.spotifyplaylist {
    padding: 8px 25px;
}

.spotifyplaylist> :first-child {
    margin-bottom: 18px;
}

.cardcollection {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 67vh;
}


/* container-right-spotifylists cards  part of container */
.play {
    width: 35px;
    height: 35px;
    background-color: rgb(27, 133, 29);
    border-radius: 50%;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 118px;
    left: 117px;
    opacity: var(--a);
    transition: all ease-in-out;
}

.card {
    position: relative;
    width: 158px;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 12px;
    border-radius: 10px;
    gap: 6px;
    background-color: #121212;
    transition: all 1.5s;
}

.card:hover {
    background-color: #272626;
    cursor: pointer;
    --a: 1;
}


.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 6px;
}

/* play-bar-sng-ply */
.seekbar {
    position: absolute;
    bottom: 6px;
    height: 4px;
    width: 98%;
    margin-left: 1.5%;
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
    z-index: 9999;
    cursor: pointer;
}

.circle {
    height: 13px;
    width: 13px;
    border-radius: 25px;
    background-color: #000000;
    position: relative;
    top: 48px;
    left: 20px;
    left: 2.5%;
    transition: left 0.5s;
}

.plybar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(165, 169, 134);
    padding-top: 4px;
    padding-bottom: 18px;
    filter: invert();
}

.songinfo {
    color: #050505;
    margin-left: 20px;
    max-width: 170px;
}

.songtime {
    color: #050505;
    margin-right: 20px;
    max-width: 170px;

}

.abovebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.songbuttons {
    cursor: pointer;
}



/* dark color scroll bARRR */
/* Targeting Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e;
    /* Dark background color for the track */
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    /* Dark color for the thumb */
    border-radius: 6px;
    border: 3px solid #050505;
    /* Match track background to create padding effect */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777;
    /* Lighter shade for hover effect */
}

/* Firefox (Version 64 and later) */
* {
    scrollbar-width: thin;
    /* Smaller width for scrollbar */
    scrollbar-color: #555 #1e1e1e;
    /* Thumb color, Track color */
}

/* Microsoft Edge and IE 11 */
@supports (-ms-overflow-style: none) {
    * {
        -ms-overflow-style: -ms-autohiding-scrollbar;
        /* Auto-hiding scrollbar for IE 11 */
    }
}



/* close for mobile view */
.close {
    display: none;
}

.hamburger {
    display: none;
}

.nav {
    display: flex;
    gap: 7px;
}

.closlogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




/* media query for 1050 size screen */
@media screen and (max-width:1050px) {
    .left {
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        background-color: #050505;
    }

    .home,
    .library {
        width: 30vw;
    }

    .libraryfooter {
        display: none;
    }

    .right {
        width: 100vw;
    }

    .circle {
        top: 47px;
    }

    .plybar {
        width: 97%;
        background-color: rgb(165, 169, 134);
        margin: 0px 8px;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .seekbar {
        width: 94%;
        margin-left: 18px;
    }

    .close {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .cardcollection {
        height: 67vh;
        margin-bottom: 80px;
    }
}


/* media query for 880 size screen */
@media screen and (max-width:880px) {
    .home,
    .library {
        width: 40vw;
    }
}


/* media query for 700 size screen */
@media screen and (max-width:700px) {
    .home,
    .library {
        width: 50vw;
    }
}


/* media query for 500 size screen */
@media screen and (max-width:500px) {
    .home,
    .library {
        width: 87vw;
    }

    .right .header .buttn>:nth-child(2) {
        padding: 10px 16px;
        margin-right: 1px;
    }

    .spotifyplaylist {
        padding: 18px 10px;
    }

    .cardcollection {
        max-height: 64vh;
        margin-bottom: 70px;
        justify-content: center;
    }

    .card {
        width: 80vw;
        margin: 0;
    }

    .plybar {
        width: 95%;
        font-size: 8px;
    }

    .seekbar {
        width: 90%;
        margin-bottom: 6px;
    }

    .circle {
        top: 41px;
    }

    .abovebar {
        margin-bottom: 8px;
    }

    .songinfo,
    songtime {
        max-width: 70px;
    }

    .songplybutton {
        width: 20px;
        height: 20px;
    }

    .play {
        top: 238px;
        left: 237px;
    }
}


/* media query for 320 size screen */
@media screen and (max-width:340px) {
    .cardcollection {
        max-height: 60vh;
        margin-bottom: 80px;
    }
}